
#calc_mass, #enter_mass
{
    margin-right: 15px;
    width: 75px;
}

#enter_min, #enter_sec
{
    width: 40px;
    text-align:center;
}

#enter_sec
{
    margin-right: 20px;
}

#calc_ret
{
    border: none;
    width: 125px;
    height: 25px;
    background-color: #bbb;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

#enter_time_panel
{
	position: relative;
}

#calc_mask
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: hsla(0, 0%, 0%, 0.4);
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 45px;
    font-size: 20px;
}