<div id="bulk_sidebar_panel" class="panel">
    <h3>Recipies</h3> 
    
    <div id="bulk_sidebar_inner_wrapper">
        
        <div class="bulk_sidebar_inner_panel">
            <img src="img/placeholder.png" class="bulk_sidebar_img">
            <div class="bulk_sidebar_text">
                <div class="bulk_sidebar_name bulk_sidebar_line">Name</div>
                <div class="bulk_sidebar_stars bulk_sidebar_line">★★★☆☆</div>
                <div class="bulk_sidebar_extra bulk_sidebar_line">Average Time: X min</div>
            </div><!-- bulk_sidebar_text -->
        </div> <!-- bulk_sidebar_inner_panel -->
    

        <div class="bulk_sidebar_inner_panel">
            <img src="img/placeholder.png" class="bulk_sidebar_img">
            <div class="bulk_sidebar_text">
                <div class="bulk_sidebar_name bulk_sidebar_line">Name</div>
                <div class="bulk_sidebar_stars bulk_sidebar_line">★★★☆☆</div>
                <div class="bulk_sidebar_extra bulk_sidebar_line">Average Time: X min</div>
            </div><!-- bulk_sidebar_text -->
        </div> <!-- bulk_sidebar_inner_panel -->
        
        <div class="bulk_sidebar_inner_panel">
            <img src="img/placeholder.png" class="bulk_sidebar_img">
            <div class="bulk_sidebar_text">
                <div class="bulk_sidebar_name bulk_sidebar_line">Name</div>
                <div class="bulk_sidebar_stars bulk_sidebar_line">★★★☆☆</div>
                <div class="bulk_sidebar_extra bulk_sidebar_line">Average Time: X min</div>
            </div><!-- bulk_sidebar_text -->
        </div> <!-- bulk_sidebar_inner_panel -->
        
        <div class="bulk_sidebar_inner_panel">
            <img src="img/placeholder.png" class="bulk_sidebar_img">
            <div class="bulk_sidebar_text">
                <div class="bulk_sidebar_name bulk_sidebar_line">Name</div>
                <div class="bulk_sidebar_stars bulk_sidebar_line">★★★☆☆</div>
                <div class="bulk_sidebar_extra bulk_sidebar_line">Average Time: X min</div>
            </div><!-- bulk_sidebar_text -->
        </div> <!-- bulk_sidebar_inner_panel -->
        
        
    </div><!-- bulk_sidebar_inner_wrapper -->
    
    <div id="add_link">
        <input type="text" id="add_link_text" placeholder="search">
    </div>
    
    <div id="add_link_results">
        <div class="add_link_result bulk_sidebar_inner_panel">
            <img src="img/placeholder.png" class="bulk_sidebar_img">
            <div class="bulk_sidebar_text">
                <div class="bulk_sidebar_name bulk_sidebar_line">Name</div>
                <div class="bulk_sidebar_stars bulk_sidebar_line">★★★☆☆</div>
                <div class="bulk_sidebar_extra bulk_sidebar_line">Average Time: X min</div>
            </div><!-- bulk_sidebar_text -->
        </div> <!-- bulk_sidebar_inner_panel -->
        <div class="add_link_result bulk_sidebar_inner_panel">
            <img src="img/placeholder.png" class="bulk_sidebar_img">
            <div class="bulk_sidebar_text">
                <div class="bulk_sidebar_name bulk_sidebar_line">Name</div>
                <div class="bulk_sidebar_stars bulk_sidebar_line">★★★☆☆</div>
                <div class="bulk_sidebar_extra bulk_sidebar_line">Average Time: X min</div>
            </div><!-- bulk_sidebar_text -->
        </div> <!-- bulk_sidebar_inner_panel -->
    </div>
    
    <div id="bulk_sidebar_add_panel" class="add_panel">
        Add a recipe
        
        <div class="add_square">
            <div class="add_plus_ver"></div>
            <div class="add_plus_hor"></div>
        </div><!-- add_square -->
        
        <script src="src/link_widget/link.js"></script>
        <link rel="stylesheet" type="text/css" href="src/link_widget/link.css">
    </div><!-- bulk_sidebar_add_panel -->
    
</div><!-- bulk sidebar panel -->