{% load staticfiles %}

<div id="bulk_sidebar_panel" class="panel">
    <h3>Recipies</h3> 
    
    <div id="bulk_sidebar_inner_wrapper">
        
        {% for link_item in linked_items %}
            {% include "bulk_sidebar_item.html" with link_item=item %}
        {% empty %}
            <p id="no_linked_items">No linked items</p>
        {% endfor %}
        
    </div><!-- bulk_sidebar_inner_wrapper -->
    
    <div id="add_link">
        <input type="text" id="add_link_text" placeholder="search" data-type="{{page_type}}">
    </div>
    
    
    <div id="add_link_results">

    </div>
    
    
    <div id="add_link_no_results">
        <p>No results</p>
    </div>
    
    
    <div id="bulk_sidebar_add_panel" class="add_panel">
        Add a recipe
        
        <div class="add_square">
            <div class="add_plus_ver"></div>
            <div class="add_plus_hor"></div>
        </div><!-- add_square -->
        
        <script src="{% static "src/link_widget/link.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "src/link_widget/link.css" %}">
    </div><!-- bulk_sidebar_add_panel -->
    
</div><!-- bulk sidebar panel -->