<div id="calculator_panel" class="panel">
    <link rel="stylesheet" type="text/css" href="{% static"src/calc_widget/calc.css"  %}">
    <script src="{% static"src/calc_widget/calc.js" %}"></script>
    
    <h3>Microwave Time Calculator - PLACEHOLDER</h3>
    
    <div class="input_wrapper">
        <div class="input_row state">
            <select name="state" id="calc_state">
                <option value="frozen">Frozen</option>
                <option value="refrigerated">Refrigerated</option>
                <option value="room">Room temp</option>
            </select>
        </div>
    
        <div class="input_row  mass" id="mass_row">
            <input style="number" class="input_number" id="calc_mass">                            
            <select name="unit" id="calc_unit">
                <option value="oz">oz</option>
                <option value="lb">lb</option>
                <option value="kg">kg</option>
            </select>
        </div>
    
        <div class="input_row">
            <button data-constant="4.186" data-wattage="1000" id="calc_btn">Calculate</button>
            <input type="text" id="calc_ret" readonly>
        </div>
    </div>
            
</div> <!-- calculator panel -->