{% load staticfiles %}

<div id="photo_panel" class="panel">
        
    <div id="carousel_upload_box">
        <!--<form id="carousel_upload_form" method="POST" action="{% url "post_img" %}" enctype="multipart/form-data">-->
            <input type="file" id="carousel_file" name="picture">
            {% comment %}{{ photo_form.picture }}{{ photo_form.non_field_errors}}{{photo_form.picture.errors}}{% endcomment %}
            <input type="hidden" name="page_type" id="carousel_type" value="{{page_type}}">
            <input type="hidden" name="item_id" id="carousel_id" value="{{item.id}}">
            {% csrf_token %}
            <button id="carousel_submit" onclick="return false;">Submit</button>
        </form>
    </div>
    <button id="carousel_upload_button">Upload</button>
    


    <div id="carousel_left_button">
        <img src="{% static "img/left_arrow.svg" %}" class="carousel_button_img">
    </div>
    <div id="carousel_slider">
        <img src="{% static "img/placeholder_wide.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_wide.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_tall.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_wide.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_tall.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_tall.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_wide.png" %}" class="carousel_img">
    </div>
    <div id="carousel_right_button">
        <img src="{% static "img/right_arrow.svg" %}" class="carousel_button_img">
    </div>
    
    
    <link rel="stylesheet" type="text/css" href="{% static "src/carousel_widget/carousel.css" %}" >
    <script src="{% static "src/carousel_widget/carousel.js" %}"></script>
    
</div><!-- photo panel -->