{% load staticfiles %}

<div id="photo_panel" class="panel">
    <div id="carousel_left_button">
        <img src="img/left_arrow.svg" class="carousel_button_img">
    </div>
    <div id="carousel_slider">
        <img src="img/placeholder_wide.png" class="carousel_img">
        <img src="img/placeholder_wide.png" class="carousel_img">
        <img src="img/placeholder_tall.png" class="carousel_img">
        <img src="img/placeholder_wide.png" class="carousel_img">
        <img src="img/placeholder_tall.png" class="carousel_img">
    </div>
        
    <div id="carousel_right_button">
        <img src="img/right_arrow.svg" class="carousel_button_img">
    </div>
    
    <script src="src/js/carousel.js"></script>
</div><!-- photo panel -->