{% load staticfiles %}

<div id="photo_panel" class="panel">
        
    <div id="carousel_upload_box">
        <input type="file" id="carousel_file">
        <button id="carousel_submit">Submit</button>
    </div>
    <button id="carousel_upload_button">Upload</button>
    


    <div id="carousel_left_button">
        <img src="{% static "img/left_arrow.svg" %}" class="carousel_button_img">
    </div>
    <div id="carousel_slider">
        <img src="{% static "img/placeholder_wide.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_wide.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_tall.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_wide.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_tall.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_tall.png" %}" class="carousel_img">
        <img src="{% static "img/placeholder_wide.png" %}" class="carousel_img">
    </div>
    <div id="carousel_right_button">
        <img src="{% static "img/right_arrow.svg" %}" class="carousel_button_img">
    </div>
    
    
    <link rel="stylesheet" type="text/css" href="{% static "src/carousel_widget/carousel.css" %}" >
    <script src="{% static "src/carousel_widget/carousel.js" %}"></script>
    
</div><!-- photo panel -->