<div id='foods_col' class="col-md-4 col-sm-4">
    <h2>Foods</h2>

    <div id="foods_wrapper">
    {% for food_ in foods_ %}
        {% include "Cookingti/hs_panel.html" with item=food_ type="food"%}
    {% empty %}
        <p>No foods</p>
    {% endfor %}
    </div>
</div> <!-- Food col -->

<div id='recipies_col' class="col-md-4 col-sm-4">
    <h2>Recipes</h2>

    <div id="recpies_wrapper">
    {% for recipe_ in recipes_ %}
        {% include "Cookingti/hs_panel.html" with item=recipe_ type="recipe"%}
    {% empty %}
        <p>No recipes</p>
    {% endfor %}
    </div>
</div><!-- Recipies col -->

<div id='equipment_col' class="col-md-4 col-sm-4">
    <h2>Equipment</h2>

    <div id="equipment_wrapper">
    {% for equipment_ in equipments_ %}
        {% include "Cookingti/hs_panel.html"  with item=equipment_ type="equipment"%}
    {% empty %}
        <p>No equipment</p>
    {% endfor %}
    </div>
</div>