{% extends "base.html" %}

{% load staticfiles %}

{% block main %}
    <div class="jumbotron">
        <input type="text" class="jumbo_search" id="search_input" value="">
        <button id="search_button">Search</button>
        <div class="or">or</div>
        <button class="scan_button">Scan Barcode</button>
        <script src="{% static 'src/search_widget/search.js' %}"></script>
    </div>

    <div class="cols_cont">
        
        {% if page_type == "search" %}
            </h1>Search</h1>
            <input type="test" placeholder="name">
            <button id="create_item_btn"><a href="#">Don't see what you're looking for? Add it to our database</a></button>
        {% else %}
            <h1>Latest</h1>
        {% endif %}
        
        
        <div id='foods_col' class="col-md-4 col-sm-4">
            <h2>Foods</h2>
        
            {% for food in foods %}
                {% include "hs_panel.html" %}
            {% endfor %}
        </div> <!-- Food col -->
    
        <div id='recipies_col' class="col-md-4 col-sm-4">
            <h2>Recipies</h2>
        
            {% for recipe in recipes %}
                {% include "hs_panel.html" %}
            {% endfor %}
        </div><!-- Recipies col -->
        
        <div id='equipment_col' class="col-md-4 col-sm-4">
            <h2>Equipment</h2>
            
            {% for equipment in equipments %}
                {% include "hs_panel.html"  %}
            {% endfor %}
    </div><!-- 3 col cont -->
    
    
{% endblock %}