{% extends "base.html" %}

{% load staticfiles %}

{% block main %}
    <div class="jumbotron">
        <input type="text" class="jumbo_search" id="search_input" value="">
        <button id="search_button">Search</button>
        <div class="or">or</div>
        <button class="scan_button">Scan Barcode</button>
        <script src="{% static 'src/search_widget/search.js' %}"></script>
    </div>

    <div class="cols_cont">
        

        <h1 id="hs_title">Latest</h1>

        
        
        <div id='foods_col' class="col-md-4 col-sm-4">
            <h2>Foods</h2>
        
            <div id="foods_wrapper">
            {% for food_ in foods_ %}
                {% include "Cookingti/hs_panel.html" with item=food_%}
            {% endfor %}
            </div>
        </div> <!-- Food col -->
    
        <div id='recipies_col' class="col-md-4 col-sm-4">
            <h2>Recipies</h2>
        
            <div id="recpies_wrapper">
            {% for recipe_ in recipes_ %}
                {% include "hs_panel.html" %}
            {% endfor %}
            </div>
        </div><!-- Recipies col -->
        
        <div id='equipment_col' class="col-md-4 col-sm-4">
            <h2>Equipment</h2>
            
            <div id="equipment_wrapper">
            {% for equipment_ in equipments_ %}
                {% include "hs_panel.html"  %}
            {% endfor %}
            </div>
    </div><!-- 3 col cont -->
    
    
{% endblock %}