{% extends "base.html" %}

{% load staticfiles %}

{% block main %}
    <div class="jumbotron">
        <h3>Search</h3>
        <input type="text" class="jumbo_search" id="search_input" value="">
        <button id="search_button">Search</button>
        
        <br>
        <br><h3>or</h3>
        <br><h3>Add a new item</h3>
        <form action="{% url 'addItem' %}" method="post" name="form">
            {{ new_form.non_field_errors }}
            <input type="text" class="jumbo_search" id="new_input" name="item" placeholder="name" value="">{{ new_form.item.errors.as_text }}
            <select name="item_type" id="new_type">
                <option value="food">Food</option>
                <option  value="recipe">Recipe</option>
                <option value="equipment">Equipment</option>
            </select>{{ new_form.item_type.errors }}
            
            
            <button id="new_button" type='submit'>New</button>
            {% csrf_token %}
        </form>
        <script src="{% static 'src/search_widget/search.js' %}"></script>
    </div>

    <div class="cols_cont">
        

        <h1 id="hs_title">Latest</h1>

        
        
        <div id='foods_col' class="col-md-4 col-sm-4">
            <h2>Foods</h2>
        
            <div id="foods_wrapper">
            {% for food_ in foods_ %}
                {% include "Cookingti/hs_panel.html" with item=food_ type="food"%}
            {% empty %}
                <p>No recent foods</p>
            {% endfor %}
            </div>
        </div> <!-- Food col -->
    
        <div id='recipies_col' class="col-md-4 col-sm-4">
            <h2>Recipes</h2>
        
            <div id="recpies_wrapper">
            {% for recipe_ in recipes_ %}
                {% include "Cookingti/hs_panel.html" with item=recipe_ type="recipe"%}
            {% empty %}
                <p>No recent recipes</p>
            {% endfor %}
            </div>
        </div><!-- Recipies col -->
        
        <div id='equipment_col' class="col-md-4 col-sm-4">
            <h2>Equipment</h2>
            
            <div id="equipment_wrapper">
            {% for equipment_ in equipments_ %}
                {% include "Cookingti/hs_panel.html"  with item=equipment_ type="equipment"%}
            {% empty %}
                <p>No recent equipment</p>
            {% endfor %}
            </div>
    </div><!-- 3 col cont -->
    
    
{% endblock %}