{% load staticfiles %}

<div id="reviews_panel" class="panel">
    <h3>Reviews</h3>
    
    <div id="review_top_row">
        <div id="review_average" class="col-md-4 col-sm-4">
            Average: ★★★☆☆
        </div>
        <div class="col-md-4 col-sm-4">
            <select name="review_sort" id="review_sort">
                <option value="highest">Highest</option>
                <option value="lowest">Lowest</option>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                
            </select>
        </div>
    
        <div class="col-md-4 col-sm-4 overflow_auto">
            <div id="review_add_panel" class="add_panel">
                Add a review
    
                <div class="add_square">
                    <div class="add_plus_ver"></div>
                    <div class="add_plus_hor"></div>
                </div><!-- add_square -->
            </div><!-- bulk_sidebar_add_panel -->
        </div>
    </div><!-- review_top_row -->
    
    
    
    <div id="new_review">
        <form method="POST" action="">
            
            {{ review_form.non_field_errors }}
            
            {{ form.errors.items }}
            {% for key, value in form.errors.items %}
                {{key}}
                {{ value }}
            {% endfor %}
            
            <input type="text" id="new_review_title" name="title" placeholder="Title">{{review_form.title.errors}}
            <div id="stars_widg" class="stars_widget"></div>
            <input type="hidden" id="stars" name="stars" value="0">{{ review_form.stars.errors }}
            <input type="hidden" name="page_type" value="{{ page_type }}">
            <input type="hidden" name="item_id" value="{{item.id}}">
            
            <textarea id="new_review_area" name="review" rows="15"></textarea>{{ review_form.review.errors}}
            {% csrf_token %}
            <button>Submit</button>

        </form>

        <link rel="stylesheet" href="{% static "src/stars_widget/stars.css" %}">
        <link rel="stylesheet" href="{% static "src/reviews_widget/new_review.css" %}">
        <link rel="stylesheet" href="{% static "src/reviews_widget/reviews.css" %}">
        <script src="{% static "src/reviews_widget/reviews.js" %}"></script>
        <script src="{% static "src/stars_widget/stars.js" %}"></script>

    </div><!-- new review -->
    
    
    <div id="reviews_wrapper">
    
    {% for review in item.reviews.all %}
        {% include 'Cookingti/review_panel.html' with review=review %}
    {% endfor %}
            
            
    </div><!-- review wrapper -->
</div><!--  reviews panel -->