<div id="reviews_panel" class="panel">
    <h3>Reviews - PLACEHOLDER</h3>
    <div id="review_top_row">
        <div id="review_average" class="col-md-4 col-sm-4">
            Average: ★★★☆☆
        </div>
        <div class="col-md-4 col-sm-4">
            <div id="review_add_panel" class="add_panel">
                Add a recipe
    
                <div class="add_square">
                    <div class="add_plus_ver"></div>
                    <div class="add_plus_hor"></div>
                </div><!-- add_square -->
            </div><!-- bulk_sidebar_add_panel -->
        </div>
    
        <div class="col-md-4 col-sm-4 overflow_auto">
            <div id="review_sort_col_wrapper">
                <select name="review_sort" id="review_sort">
                    <option value="top">Top Rated</option>
                    <option value="rec">Recent</option>
                </select>
            <button>Sort</button>
            </div>
        </div>
    </div>
    
    
    <div class="review">
        <div class="review_top_matter">
            <span class="review_title">
                Review_title
            </span>
            <span class="review_rating">
                ★★★☆☆
            </span>
        </div>
        <div class="review_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    
    <div class="review">
        <span class="review_title">
            Review_title
        </span>
        <span class="review_rating">
            ★★★☆☆
        </span>
        <div class="review_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    
    <div class="review">
        <span class="review_title">
            Review_title
        </span>
        <span class="review_rating">
            ★★★☆☆
        </span>
        <div class="review_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</div><!-- food reviews panel -->