#recipe_edit_button
{
	position: absolute;
	top:5px;
	right:23px;
}

#recipe_form
{
	display: none;
}

#recipe_text
{
	width: 100%;
	min-height: 200px;	
	margin-top: 20px;
}

#recipe_content
{
	min-height: 100px;
}

#recipe_content h1
{
	font-size: 22px;
}

#recipe_content h2 
{
	font-weight: 700;
	font-size: 19px;
	text-align: left;
}

#recipe_content h3
{
	text-align: left;
}
#recipe_content h4
{
	color: #777;
	font-weight: 400;
	font-size: 15px;
}