html
{
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    
}
body
{
    background-color: hsl(0, 0%, 85%);
    height:100%;

}

h1
{
    text-align: center;
    color: #777;
}

h2
{
    text-align: center;
    color: #777;
    font-weight: 400;
    font-size: 25px;
}

h3
{
    text-align: center;
    color: #777;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px;
}

#page
{
    margin-top:30px;
    background-color: white;
    box-shadow: 2px 2px 5px hsla(0, 100%, 0%, 0.25);
    margin-bottom: 30px;
}

@media (max-width: 768px)
{
    #page
    {
        margin-top: 0px;
    }
}

.container
{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-default
{
    background-image: none;
    background-color: white;
    border: none;
}

.navbar-default
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar-brand
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:35px;
}

@media (min-width: 768px)
{
    .navbar > .container-fluid .navbar-brand
    {
        margin-left: 100px;
    } 
    
    .navbar-right
    {
        margin-right: 80px;
        font-size: 20px;
    }
}

.container .jumbotron
{
    border-radius: 0px;
    text-align: center;
}

.jumbo_search
{
    max-width: 400px;
    width: 75%;
    height: 25px;
    margin: auto;
    border: 0px;
}


a
{
    color: #777;
    text-decoration: underline;
}

a:hover
{
    color: black;
    text-decoration: underline;
}

nav a
{
    text-decoration: none;
}

button
{
    background-color:hsla(0, 0%, 0%, 0);
    border: none;
    font-size: 20px;
    text-decoration: underline;
    color: #777;
}

button:hover
{
    color: black;
}

.or, .scan_button

{
    font-size: 20px;
    margin-top: 30px;
}


.cols_cont
{
    overflow:auto;
    
    margin-top: 75px;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.content
{
    margin-top: 30px;
}

.panel
{
    background-color: #eee;
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 20px;
    overflow: hidden;
    
    border-radius: 0px;
    
    box-shadow: 2px 2px 5px hsla(0, 100%, 0%, 0.25);
    
}

.panel_3
{
    min-height: 200px;
    width: 100%;
}

@media (max-width: 992px)
{
    .panel_3
    {
        min-height: auto;
    }
}

@media (max-width: 500px)
{
    .cols_cont
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    
}


/*
.panel_3-2
{
    max-width: 300px;
}
*/

.panel_preamble
{
    overflow: auto;
}

.panel_img
{
    width: 75px;
    height: 75px;
    margin-right: 20px;
    float:left;
    
}

.panel_img-2
{
    width: 100%;
}

.panel_preamble_text-2
{
    margin-top: 20px;
    margin-left: 10px;
}

.panel_preamble_line
{
    margin-bottom: 5px;
}

.panel_name
{
    font-size: 17px;
}

.panel_stars
{
    float: left;
}

.panel_extra
{
    float: right;
}

.panel_description
{
    margin-top: 20px;
}

#create_item_btn
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 50px;
}


.bulk_sidebar_inner_panel
{
    background-color: white;
    height: 80px;
    margin-top: 20px;
}

#bulk_sidebar_add_panel
{
    margin-top: 20px;
    
}

.add_panel
{
    background-color: white;
    height: 40px;
    
    padding: 10px;
    
    position: relative;
    
    font-size: 16px;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
     
}


.add_panel:hover
{
    background-color: #eaeaea;
}


.add_square
{
    height: 40px;
    width: 40px;
    background-color: hsla(0, 0%, 40%, 0.4);
    
    position: absolute;
    top: 0;
    right: 0;
    
    text-align:center;
    
    
}



.add_plus_ver
{
    background-color: white;
    
    width: 5px;
    height: 25px;
    
    position: absolute;
    top: 7.5px;
    left: 17.5px;
}

.add_plus_hor
{
    background-color: white;
    
    height: 5px;
    width: 25px;
    
    position: absolute;
    top: 17.5px;
    left: 7.5px;
}




.bulk_sidebar_inner_panel
{
    overflow: auto;
    padding-left: 20px;
}

.bulk_sidebar_img
{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    float:left;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bulk_sidebar_text
{
    float:left;
    
    position: relative;
    top: 50%;
     transform: translateY(-50%);
}
.bulk_sidebar_line
{
    margin-bottom: 0px;
}

.bulk_sidebar_name
{
    font-size: 17px;
}

select
{
    padding-left: 5px;

    border-radius: 0px;
    border: none;
    background-color: white;
    height: 25px;
    min-width: 75px;
    
    /*
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    
    background:
        linear-gradient(45deg, #bbb 50%, white 50%),
        linear-gradient(135deg, white 50%, #bbb 50%),
        linear-gradient(to right, #bbb, #bbb),
        white;
      background-position:
        calc(100% - 21px + 8px) calc(1em - 5px),
        calc(100% - 16px + 13px) calc(1em - 5px),
        100% 0;
      background-size:
        10px 10px,
        10px 10px,
        25px 25px;
      background-repeat: no-repeat;
    */
}

select:hover
{
    background-color: #eaeaea;
}

.input_wrapper
{
    margin-top: 35px;
}

.input_row
{
    margin-top: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}


.input_number
{
    border: 0px;
    height: 25px;
}


.overflow_auto
{
    overflow: auto;
}



#photo_panel
{
    height: 250px;
}

#info_panel
{
    height: 250px;
}

#photo_column
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}



.form_list
{
    list-style-type: none;
}

.form_li
{
    margin-top: 4px;
}

.form_wrap
{
    /*
    position: relative;
    left: 50%;
    transform: translateX(-20%);
    */
    position: relative;
    left: calc(50% - 115px);
    
    margin-top: 30px;
    
}

input
{
    border: none;
    height: 25px;
    padding-left: 5px;
}


#register_submit, #login_submit
{
    margin-left: 35px;
}

.inline_button
{
    font-size: 15px;
}

.form_list input
{
	margin-top: 5px;
}
textarea
{
	border: none;
}