
#calc_mass, #enter_mass
{
    margin-right: 15px;
    width: 75px;
}

#enter_min, #enter_sec
{
    width: 40px;
    text-align:center;
}

#enter_sec
{
    margin-right: 20px;
}

#calc_ret
{
    border: none;
    width: 125px;
    height: 25px;
    background-color: #bbb;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}