#carousel_left_button:hover, #carousel_right_button:hover
{    
    background-color: hsla(0, 0%, 73%, 0.75);
}

#carousel_left_button, #carousel_right_button
{   
    height: 250px;
    text-align: center;
    
    position: absolute;
    top: 0px;
    width: 30px;
    
    background-color: hsla(0, 0%, 73%, 0.25);
    
    z-index: 5;
}

#carousel_left_button
{
    left: 16px;
}

#carousel_right_button
{
    right: 15px; 
}


#carousel_slider
{
    float:left;
    white-space: nowrap;
    position: relative; 
    height: 210px;
    left: 30px;
}
.carousel_img
{
    height: 100%;
}

.carousel_button_img
{
    width: 75%;
    opacity: 0.75;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carousel_button_img:hover
{
    opacity: 1;
}

#carousel_upload_button
{
    position: absolute;
    z-index:5;
    background-color: hsla(0, 0%, 100%, 0.5);
    top: 216px;
    left: 46px;
}
#carousel_upload_box
{
    position: absolute;
    height: 33px;
    left: 120px;
    top: 216px;
    z-index: 5;
    background-color: hsla(0, 0%, 100%, 0.5);
    display: none;
}

#carousel_submit
{
    float: right;
    margin-right: 10px;
}

#carousel_file
{
    display: inline;
    margin-top: 8px;
}

.carousel_image_wrapper
{
	display: inline;
	overflow: auto;
	position: relative;
}

.carousel_image_delete
{
	text-decoration: none;
	
	color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	
	
	position: absolute;
	right: 5px;
	font-size: 25px;
	
	z-index: 5;
}

.carousel_image_delete:hover
{
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

@media (max-width: 550px)
{
    #carousel_file
    {
        width: 75px;
    }
}