{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{page_name}}" />
    <meta property="og:site_name" content="Cookingti.me" />
    <meta property="og:url" content="cookingti.me{{request.path}} />
    <meta property="og:description" content="Get microwave cooking times, share recipies, and write reviews for {{ page_name }} and all your favorite foods!" />

    <title>cookingti.me | {{ page_name }}</title>

    <link href="{% static "src/bs/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "src/css/style.css" %}" rel="stylesheet">
    <link href="{% static "src/fonts/fonts.css" %}" rel='stylesheet' type='text/css'>
    
    <script src="{% static "src/js/jquery-2.1.4.min.js" %}"></script>
</head>
<body>
    <div id="page" class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">cookingti.me</a>
                </div>
                {% if user %}
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url "home" %}">Home</a></li>
                            
                            {% if user.is_authenticated %}
                                <li><a href="{% url "profile" request.user.id %}">Profile</a></li>
                                <li><a href="{% url "logout" %}">Log out</a></li>
                            {% else %}
                                <li><a href="{% url "login" %}">Log in</a></li>
                                <li><a href="{% url "register" %}">Register</a></li>
                            {% endif %}
                            
                        </ul>
                    </div><!--/.nav-collapse -->
                {% endif %}
            </div><!--/.container-fluid -->
        </nav>
        
        <div id="main">
            {% block main %}
            {% endblock %}
        </div><!-- main -->
    </div> <!-- page -->

    
    
    <script src="{% static "src/bs/js/bootstrap.min.js" %}"></script>
    
</body>
</html>
