{% load staticfiles %}

{% block main %}
    <h1>Food_name</h1>
    
    <div class="content">
        
        
        <div id="first_row">
            <div id="photo_column" class="col-md-8 col-md-push-4">
                {% include "carousel_panel.html" %}
            </div><!-- photo column -->
            <div id="info_column" class="col-md-4 col-md-pull-8">
                {% include "info_panel.html" %}
            </div><!-- info column -->
        </div><!-- first row -->
        
        
        <div id="second_row">
            
            
            <div id="bulk_column" class="col-md-8 col-md-push-4">
                
                {% if page_type == "food" %}
                    <div id="time_row" class="row">
                        <div id="calculator_column" class="col-md-6 col-sm-6">
                            {% include "calculator_panel.html" %}
                        </div> <!-- calculator column -->
                        
                        <div id="enter_time_column" class="col-md-6 col-sm-6">
                            {% include "enter_time_panel.html" %}
                        </div> <!-- enter time column -->
                        <script src="src/js/calculate.js"></script>
                    </div> <!-- time row -->
                {% endif %}
                
                
            {% include "reviews_panel.html" %}
                
                
            </div> <!-- bulk column -->
            
            
            
            <div id="bulk_sidebar_column" class="col-md-4 col-md-pull-8">
                {% include "bulk_sidebar_panel.html" %}
            </div><!-- bulk sidebar column -->
            
            
        </div><!-- second row -->
        
        
    </div><!-- content -->
{% endblock %}