{% extends "base.html" %}

{% load staticfiles %}

{% block main %}

    <div class="jumbotron">
        <div style="float:left;" class="fb-like" data-href="http://cookingti.me/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        
        <h2>Search</h2>
        <input type="text" class="jumbo_search" id="search_input" value="">
        <button id="search_button">Search</button>
        
        <br>
        <br>
        <br><h2>Add a new item</h2>
        <form action="{% url 'addItem' %}" method="post" name="form">
            {{ new_form.non_field_errors }}
            <input type="text" class="jumbo_search" id="new_input" name="item" placeholder="name" value="">{{ new_form.item.errors.as_text }}
            <select name="item_type" id="new_type">
                <option value="food">Food</option>
                <option  value="recipe">Recipe</option>
                <option value="equipment">Equipment</option>
            </select>{{ new_form.item_type.errors }}
            
            
            <button id="new_button" type='submit'>New</button>
            {% csrf_token %}
            
        </form>
            
        <br>
        <div style="text-align;center;">Or</div>
        <button id="new_button_barcode_button">Upload barcode</button>
        <div id="new_item_barcode_wrapper" >
            <input style="display:inline-block;" id="barcode_image" type="file">
            <select name="item_type" id="barcode_new_type">
                <option value="food">Food</option>
                <option value="equipment">Equipment</option>
            </select>
            <button id="barcode_submit">Submit</button>
            <div id="barcode_new_response"></div>
        </div>
        
        <script src="{% static 'src/search_widget/search.js' %}"></script>
        <script src="{% static 'src/new_item_barcode_widget/new_item_barcode.js' %}"></script>
        <link rel="stylesheet" href="{% static 'src/new_item_barcode_widget/new_item_barcode.css' %}">
    </div>


    <div id="home_pre" class="cols_cont">
        <link rel="stylesheet" href="{% static 'src/home/home.css' %}">
        <script src="{% static "src/home/home.js" %}"></script>

        <h1 id="home_sections"><button id="latest_heading" class="hs_title hs_title_selected">Latest</button>/<button id="highest_heading" class="hs_title">Highest</button></h1>
        
        <div id="latest" class="cols_cont_2">            
            {% include "hs/hs_3_col.html" with foods_=latest_foods recipes_=latest_recipes equipments_=latest_equipments %}
        </div>
            
        <div id="highest" class="cols_cont_2">            
            {% include "hs/hs_3_col.html" with foods_=highest_foods recipes_=highest_recipes equipments_=highest_equipments %}
        </div>
    </div>
    
    
    <div id="search_results">
        <h1>Search</h1>
        
        <div id="search_wrapper">
            
            <div id='search_foods_col' class="col-md-4 col-sm-4">
                <h2>Foods</h2>
                <div id="search_foods_wrapper">
                </div>
            </div>
            
            <div id='search_recipe_col' class="col-md-4 col-sm-4">
                <h2>Recipes</h2>
                <div id="search_recipe_wrapper">
                </div>
            </div>
            
            <div id='search_equipment_col' class="col-md-4 col-sm-4">
                <h2>Equipment</h2>
                <div id="search_equipment_wrapper">
                </div>
            </div>
            
        </div>
    </div>
    <div id="fb-root"></div>

    <script src="{% static "src/facebook/likeshare.js" %}"></script>
    
{% endblock %}


