<div id="info_panel" class="panel">
    <h3>Info</h3>
    
    <div style="padding-left:5px;" class="fb-like" data-href="{{request.path}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
   {% if item.photos.all.0 %}
       <meta property="og:image" content="cookingti.me{% url "image" page_type item.id item.photos.all.0.id %}"/>
    {% endif %}
    
    {% if amazon %}
        <div style="margin-top:20px;">
            <a href="{{amazon.link}}">Amazon link</a>
            <ul>
                <li>Lowest price: {{amazon.price}}</li>
            </ul>
        </div>
    {% endif %}
    
    <div style="margin-top:10px;">Created by: <a href="/profile/{{item.user.id}}">{{item.user.username}}</a></div>

    
</div><!-- info panel -->
