<div id="info_panel" class="panel">
    <h3>Info</h3>
    
    <div style="padding-left:5px;" class="fb-like" data-href="{{request.path}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
   {% if item.photos.all.0 %}<meta property="og:image" content="cookingti.me{% url "image" page_type item.id item.photos.all.0.id %}"/>
{% endif %}
    
    <!--
    <ul>
        <li><a href="">Amazon</a></li>
        <li>Average Cooking Time: X minutes</li>
        <li>Field: Data</li>
        <li>Field: Data</li>
        <li>Field: Data</li>
        <li>Field: Data</li>
    </ul>
    -->
</div><!-- info panel -->
