{% load staticfiles %}
{% load markup %}

<div class="panel">
    <link rel="stylesheet" href="{% static 'src/recipe_widget/recipe.css' %}">
    <script src="{% static 'src/recipe_widget/recipe.js' %}"></script>
    
    {% if request.user == item.user %}
        <button id="recipe_edit_button">
            <h4>Edit</h4>
        </button>
    {% endif %}
    
    <div id="recipe_form">
        <textarea maxlength="500" id="recipe_text" name="text" value="">{{ item.text }}</textarea>
        <span id="recipe_text_error"></span>
        <br>
        <button id="recipe_submit_button" data-id={{item.id}} action="submit">Submit</button>
        <span id="recipe_error"></span>
    </div>
    
    <div id="recipe_content">
        {{ item.text|markdown|default:"Click edit to enter recipe" }}
    </div>
</div>