{% load staticfiles %}
{% load stars_to_uni %}

<div class="bulk_sidebar_inner_panel">
    <a href="{% url 'item' link_item_type link_item.id %}">
        {% comment %}<img src="{% if item.photos %}{% url 'photo' item.photos.1.id %}{% else %}{% static 'img/placeholder.png' %}{% endif %}" class="bulk_sidebar_img">{% endcomment %}
        {% comment %}<img src="{% static 'img/placeholder.png' %}" class="bulk_sidebar_img">{% endcomment %}
        
        <img src="{% if link_item.photos.all.0 %}{% url "image" link_item_type link_item.id link_item.photos.all.0.id %}{% else %}{% static 'img/placeholder.png' %}{% endif %}" class="bulk_sidebar_img">

        
        <div class="bulk_sidebar_text">
            <div class="bulk_sidebar_name bulk_sidebar_line">{{ link_item.name }}</div>
            <div class="bulk_sidebar_stars bulk_sidebar_line">{{ link_item.stars | stars_to_uni }}</div>
        </div><!-- bulk_sidebar_text -->
    </a>
</div> <!-- bulk_sidebar_inner_panel -->