{% load staticfiles %}
{% load stars_to_uni %}

<div id="reviews_panel" class="panel">
    <h3>Reviews</h3>
    

    <div id="review_top_row">

        <div id="review_average" class="col-md-4 col-sm-4">
            Average: {{item.stars|stars_to_uni}}
        </div>
        <div class="col-md-4 col-sm-4">
            <select name="review_sort" id="review_sort">
                <option selected disabled>Sort</option>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="highest">Highest</option>
                <option value="lowest">Lowest</option>
            </select>
        </div>
    
        
        {% if request.user.is_authenticated %}
            <div class="col-md-4 col-sm-4 overflow_auto" style="position:relative;">
            
                <div id="review_add_panel" class="add_panel">
                    Add a review
                    <div class="add_square">
                        <div class="add_plus_ver"></div>
                        <div class="add_plus_hor"></div>
                    </div><!-- add_square -->
                </div><!-- bulk_sidebar_add_panel -->
            </div>
        {% endif %}
        
        
    </div><!-- review_top_row -->
    
    
    
    <div id="new_review" class="review_form">

        {% include 'item/reviews/review_form.html' %}

    </div><!-- new review -->
    
    
    <div id="reviews_wrapper">
        {% for review in item.reviews.all %}
            {% include 'item/reviews/review_panel.html' with review=review %}
        {% endfor %}     
    </div><!-- review wrapper -->
    
    
    <link rel="stylesheet" href="{% static "src/stars_widget/stars.css" %}">
    <link rel="stylesheet" href="{% static "src/reviews_widget/new_review.css" %}">
    <link rel="stylesheet" href="{% static "src/reviews_widget/reviews.css" %}">
    <script src="{% static "src/reviews_widget/reviews.js" %}"></script>
    <script src="{% static "src/stars_widget/stars.js" %}"></script>
</div><!--  reviews panel -->