{% load staticfiles %}
{% load stars_to_uni %}

<div id="reviews_panel" class="panel">
    <h3>Reviews</h3>
    
    <div id="review_top_row">
        <div id="review_average" class="col-md-4 col-sm-4">
            Average: {{item.stars|stars_to_uni}}
        </div>
        <div class="col-md-4 col-sm-4">
            <select name="review_sort" id="review_sort">
                <option selected disabled>Sort</option>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="highest">Highest</option>
                <option value="lowest">Lowest</option>
            </select>
        </div>
    
        <div class="col-md-4 col-sm-4 overflow_auto">
            <div id="review_add_panel" class="add_panel">
                Add a review
    
                <div class="add_square">
                    <div class="add_plus_ver"></div>
                    <div class="add_plus_hor"></div>
                </div><!-- add_square -->
            </div><!-- bulk_sidebar_add_panel -->
        </div>
    </div><!-- review_top_row -->
    
    
    
    <div id="new_review" class="review_form">

        <input class="edit_review_title" type="text" name="title" placeholder="Title"><span class="review_title_error"></span>
        <br><span class="stars_widget"></span><span class="stars_error"></span>
        <input class="stars" type="hidden" name="stars" value="0">
        <input class="page_type" type="hidden" name="page_type" value="{{ page_type }}">
        <input class="item_id" type="hidden" name="item_id" value="{{item.id}}">
        
        <textarea maxlength="500" class="edit_review_text" id="new_review_area" name="review" rows="15"></textarea>
        <div class="text_error"></div>
        <button class="review_submit" onclick="return false;">Submit</button><span class="general_error"></span>

        <link rel="stylesheet" href="{% static "src/stars_widget/stars.css" %}">
        <link rel="stylesheet" href="{% static "src/reviews_widget/new_review.css" %}">
        <link rel="stylesheet" href="{% static "src/reviews_widget/reviews.css" %}">
        <script src="{% static "src/reviews_widget/reviews.js" %}"></script>
        <script src="{% static "src/stars_widget/stars.js" %}"></script>

    </div><!-- new review -->
    
    
    <div id="reviews_wrapper">
        {% for review in item.reviews.all %}
            {% include 'item/reviews/review_panel.html' with review=review %}
        {% endfor %}     
    </div><!-- review wrapper -->
    
</div><!--  reviews panel -->