#add_link
{
    margin-top: 20px;
    display: none;
}
#add_link_text
{
    width: 100%;
}

#add_link_results, #add_link_no_results

{
    display: none;
    position: absolute;
    box-shadow: 2px 2px 5px hsla(0, 100%, 0%, 0.25);
    z-index: 5;
}


#add_link_no_results
{
	background-color: white;
	min-height: 30px;
}

#add_link_no_results p
{
	margin: 5px;
	margin-left: 10px;
}


.add_link_result
{
    margin-top: 0px;
}

.add_link_result:hover
{
    background-color: hsla(0, 0%, 90%, 1);
}

