{% load staticfiles %}
<div id="enter_time_panel" class="panel">
    <h3>Enter Microwave Cooking Time</h3>
    
    {% if not request.user.is_authenticated %}
        <div id="calc_mask">Log in to post cooking times</div>
    {% endif %}
    
    <div class="input_wrapper">
        <div class="input_row state">
            <select name="state" id="enter_state">
                <option value="frozen">Frozen</option>
                <option value="refrigerated">Refrigerated</option>
                <option value="room">Room temp</option>
            </select>
        </div>
        
        <div class="input_row  mass" id="enter_mass_row">
            <input style="number" class="input_number" id="enter_mass">                            
            <select name="unit" id="enter_unit">
                <option value="lb">lb</option>
                <option value="oz">Oz</option>
                <option value="kg">Kg</option>
            </select>
        </div>
        
        <div class="input_row" id="calc_input_row">
            <input style="number" class="input_number" id="enter_min" placeholder="min">
            :
            <input style="number" class="input_number" id="enter_sec" placeholder="sec">
            
            <button id="enter_submit" data-id="{{ item.id }}">Submit</button>
        </div>
        <script src="{% static 'src/calc_widget/enter_time.js' %}"></script>
    </div>
</div><!-- enter time panel -->