{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
    <div class="cols_cont">
        
        <div class="col-md-6 col-md-offset-3">
            <div id="login_panel" class="panel">
                <h2>Log in</h2>
                
                <div class="div_table form_wrap">
                    <form method="POST" action="{% url 'login' %}">
                        <ul class="form_list">
                            {{ form.non_field_errors}}
                            
                            <li class="form_li"><div class="div_cell"><input type="text" name="username" placeholder="username"></div>{{ form.username.errors.as_text}}</li>
                            <li class="form_li"><div class="div_cell"><input type="password" name="password" placeholder="password">{{ form.username.errors.as_text }}</div></li>
                        </ul>
                        <a href="{% url 'forgot_password' %}">Forgot Password?</a>
                        <button id="login_submit">Submit</button>
                        {% csrf_token %}
                        <input type="hidden" name="redirect">
                    </form>
                </div>
            </div>
        </div>
      
    </div><!-- cols cont -->
    <div style="height: 450px;"></div><!-- spacer -->
{% endblock %}