{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
    <div class="cols_cont">
        
        <div class="col-md-6 col-md-offset-3">
            <div id="login_panel" class="panel">
            {% if complete %}
            <p> Your password has been successfully changed. Go back to login page. </p>
            {% else %}
            <p> Email sent. Please check your email. </p>
            {% endif %}
            </div>
        </div>
      
    </div><!-- cols cont -->
    <div style="height: 450px;"></div><!-- spacer -->
{% endblock %}