{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
    <div class="cols_cont">
        
        
        <div class="col-md-6 col-md-offset-3">
            <div id="register_panel" class="panel">
                <div id="register_mask"></div>
                
                <h2>Register</h2>
                <div class="div_table form_wrap">
                    
                    <form method="POST" action="{% url 'register' %}">
                        {{ form.non_field_errors }}
                        <ul class="form_list">
                            <li>{{ form.username }}{{ form.username.errors.as_text }}</li>
                            <li>{{ form.email }}{{ form.email.errors.as_text }}</li>
                            <li>{{ form.firstname }}{{ form.firstname.errors.as_text }}</li>
                            <li>{{ form.lastname }}{{ form.lastname.errors.as_text }}</li>
                            
                            <!--<li><input type="text" name="wattage" placeholder="wattage"></li> -->
                            <li>{{ form.wattage }}{{ form.wattage.errors.as_text }}</li>

                             <li>or <button id="register_barcode_show" class="inline_button">Upload Barcode</button></li>

                             {% comment %}<li>or <a href= "{% url 'barcode' %}" class="inline_button">Scan Barcode</a></li>{% endcomment %}

                            
                            <li>{{ form.password1 }}{{ form.password1.errors.as_text }}</li>
                            <li>{{ form.password2 }}{{ form.password2.errors.as_text }}</li>
                            
                            
                            <!--
                            <li><input type="text" name="username" placeholder="username"></li>
                            <li><input type="text" name="email" placeholder="email"></li>
                            <li><input type="text" name="wattage" placeholder="wattage"></li>
                            <li>or <button class="inline_button">Scan Barcode</button></li>
                            <li><input type="password" name="password1" placeholder="password"></li>
                            <li><input type="password" name="password2" placeholder="confirm passoword"></li>
                            -->
                        </ul>
                        <button id="register_submit">Submit</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            
            <div id="register_barcode_panel" class="panel">
                <input type="file" id="register_upload_barcode_file">
                <button id="register_upload_barcode_submit">Submit</button>
                <button id="register_upload_barcode_cancel">Cancel</button>
                
            </div>
        </div>
      
          <link rel="stylesheet" href="{% static 'src/register_widget/register.css' %}">
          <script src="{% static 'src/register_widget/register.js' %}"></script>
    </div><!-- cols cont -->
    <div style="height: 450px;"></div><!-- spacer -->
{% endblock %}