{% extends "base.html" %}

{% load staticfiles %}

{% block main %}


    
    <div class="container">
        <div class="col-md-6 col-md-push-3">
            <div class="panel">
        
                <h3>Forgot Password</h3>

                <div class="div_table form_wrap">
                    <form  method="POST" action="{% url 'resetPassword' %}">
                        {{ form.non_field_errors }}
                        <ul class="form_list">
                            <li>{{ form.email.label }}{{ form.email }}{{ form.email.errors.as_text }}</li>
                        </ul>
                        <a href="{% url 'login' %}">Back</a>
                        <button id="register_submit">Submit</button>
                        {% csrf_token %}
                    </form>

                </div>


            </div>
            
            <link rel="stylesheet" href="{% static 'src/register_widget/register.css' %}">
        </div>


    </div>
    <div style="height: 450px;"></div><!-- spacer -->
 
  
    
{% endblock %}